@model IEnumerable<ATHRentalSystem.Models.RezerwacjeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImieRezerwanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwiskoRezerwanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RezerwacjaOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RezerwacjaDo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImieRezerwanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwiskoRezerwanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RezerwacjaOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RezerwacjaDo)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.RezerwacjaId">Edit</a> |
*@@*                <a asp-action="Details" asp-route-id="@item.RezerwacjaId">Details</a> |*@
@*<a asp-action="Delete" asp-route-id="@item.RezerwacjaId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
