@model ATHRentalSystem.Models.RezerwacjeViewModel

@{
    ViewData["Title"] = "Zwrot";
}

<h1>Zwróć rower</h1>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImieRezerwanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImieRezerwanta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRoweru)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMiasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwiskoRezerwanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwiskoRezerwanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezerwacjaOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezerwacjaOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezerwacjaDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezerwacjaDo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RezerwacjaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>
