@model ATHRentalSystem.Models.VehicleDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Szegóły naszych rowerów</h1>

<div>
    @*<h4>VehicleDetailViewModel</h4>*@
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvaible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvaible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.picture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.picture)" width="400" height="300"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.material)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="Index">Powrót do listy</a>
</div>
